<nav class ="navbar navbar-light bg-light text-center">
<h1 align="center">Banh Mi!</h1>
</nav>

<p align="center" class="definition"> /ˈbän mē/
<i>noun</i> (in Vietnamese cuisine) - a sandwich consisting of a baguette (traditionally baked with both rice and wheat flour) filled with a variety of ingredients, typically including meat, pickled vegetables, and chili peppers.</p>

<div class="text-center">
<img src="/assets/img/banhMi.jpg" alt="Banh Mi" class="img-fluid">
</div>

<h4 align="center">add new banh mi!</h4>

<form class="create-form">

  <div class="form-group text-center">
    <label for="banhmi"></label>
    <input type="text" id="banhmi" name="banhmi">
    <button type="submit" class="addbanhmi btn btn-info fas fa-plus-circle"> Add Banh Mi</button>
  </div>

</form>


<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <ul class="list-group text-center">
        {{#each banhmi}}
        {{#unless devoured}}
        <li class="list-group-item"> {{this.id}}: {{this.banhmi_name}} <span class="pull-right">
        <button type="button" data-id="{{this.id}}" class="devour-banhmi btn btn-success fas fa-utensils"> Devour!</button></span></li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-6">
      <ul class="list-group text-center">
        {{#each banhmi}}
        {{#if devoured}}
        <il class="list-group-item disabled devoured"> {{this.id}}: {{this.banhmi_name}} Devoured!</il>
        {{/if}}
        {{/each}}
        <br>
      </ul>
    </div>

  </div>
</div>

<footer class="footer">
    <div class="row text-center">
        <p class="col-sm-12" id="copyright"> 
            Copyright &copy; 2020 JJC. All Rights Reserved.
        </p>
    </div>
</footer>